[submodule "profiles/openscholar"]
	path = profiles/openscholar
	url = https://github.com/ASU/openscholar
[submodule "asu-openscholar-custom"]
	path = sites
	url = https://github.com/ASU/asu-openscholar-custom
