[submodule "openscholar"]
	path = openscholar
	url = git@github.com:jrounsav/os-tmp.git
[submodule "sites"]
	path = sites
	url = https://github.com/jrounsav/custom-tmp
[submodule "drup-mod-tmp"]
	path = asu-drupal-modules
	url = https://github.com/jrounsav/drup-mod-tmp.git
